* { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html,body { 
    background: linear-gradient(135deg, #434343, #000000);
    height: 100%;
    margin: 0;
    


    color: rgb(255, 255, 255);


}
header  {
    text-align: center;
    margin-top: 30px;
    font-size: 4rem;
}
.task { 
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
   
    padding: 30px;
 
   
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.68);
    border-bottom: 3px solid #fff;


}
p { 
    font-size: 25px;
}
.task .icon { 
    font-size: 30px;

}
.icon:hover { 
    font-size:35px ;
    transition: 0.2s ease ;
    cursor: pointer;
}
.icon-star,.icon-trash { 
    opacity: 0.4;
    
}
.icon-star:hover { 
    color: orange;
    opacity: 1;
    
}
.icon-trash { 
    margin-left: 10px;
}
.icon-trash:hover { 
    color: rgb(252, 185, 185);
    opacity: 1;
}
.icon-angry { 
    color: rgb(214, 64, 5) ; 
}
h2 { 
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
form {
    text-align: center;
}
input { 
   padding: 10px 20px; 
   border-radius: 20px;
   width: 35vw;
   text-align: center;

}
button { 
    all: unset;
}
.icon-upload { 
    font-size: 25px;
    margin-left: 10px;
    
    


}
.icon-upload:hover { 
    font-size: 30px;
    transition: 0.3s;
    color: aquamarine;
   
    


}
.dn { 
    display: none;
}
.icon-heart {
    color: red;
}

.task-text.strikethrough {
    text-decoration: line-through;
}
.text {
    margin-top: 400px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}